# file          .gitignore
# brief         .gitignore for a LaTeX Project
# author        Ryotaro Onuki
# created_at    2019.01.25
# modified_at   2019.02.05

## build dir
build/*

## exclude generated pdf
# !build/*.pdf
